.clearfix {
    overflow: auto;
    zoom: 1;
}
#sect {
    background-image: url(/home/internship/Alexandra01/app/assets/images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
nav {
    float: right;
}
li {
    display: inline;
}
#sect h3 {
    float: left;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
#centertext {
    color: white;
    font-size: 30px;
    text-align: center;
}
#middlepart {
    background-color: #3AA8C1;
    text-align: center;
    height: 250px;
    margin-top: -20px;
    font-size: 20px;
    color: white;
}
.col-inline {
    display: inline-block;
    padding: 10px;
}
.col-inline .image-wrapper {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100%;
    position: relative;
}
.col-inline img {
    height: 50px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
a {
    padding-left: 5px;
    padding-right: 5px;
    size: 30px;
}
#rndtext {
    padding-top: 20px;
}
#lastsection {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -20px;
    height: 700px;
}
#rndtextnb2 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.container {
    margin: auto;
    width: 1200px;
}
.col-floated {
    width: 33.3%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.col-floated img {
    width: 100%;
}
footer h1 {
    text-align: center;
    color: black;
}
.col-floated a {
    transition: all .2s ease-in-out;
    display: inline-block;
}
.col-floated a:hover {
    transform: scale(1.1);
    opacity: 0.3;
}
.butonas a {
    text-align: center;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    width: 130px;
    border-radius: 20%;
    margin-left: 850px;
    background: transparent;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.butonas a:hover {
    background: #3AA8C1;
}