#second-section {
    background-image: url(/home/internship/Alexandra01/app/assets/images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: -20px;
}
#second-section h3 {
    float: left;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
#second-section-text {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}
.image-wrapper {
    margin: auto;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100%;
    position: relative;
}
 .image-wrapper img {
    text-align: center;
    height: 50px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
a {
    padding-left: 5px;
    padding-right: 5px;
    size: 30px;
}
#icon-section-text {
    padding-top: 20px;
}
#lastsection {
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    padding-bottom: 20px;
}
.icon-section{
  background-color: #3AA8C1;
  text-align: center;
  height:auto;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;

}
#lastsection-text {
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.col-floated {
    width: 33.3%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.col-floated img {
    width: 100%;
}
footer h1 {
    text-align: center;
    color: black;
}
.col-floated a {
    transition: all .2s ease-in-out;
    display: inline-block;
}
.col-floated a:hover {
    transform: scale(1.1);
    opacity: 0.3;
}
.learn-more-button{
  display:block;
  text-align: center;
}
.learn-more-button a {
    text-align: center;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    width: 130px;
    border-radius: 20%;
    text-decoration: none;
    background: transparent;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.learn-more-button a:hover {
    background: #3AA8C1;
}
