.shop-navbar a{
  color:black;
  font-weight: bold;
}
footer{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 40px;
}
li {
    display: inline;
}
ul{
  float:right
}
#formsection {
    padding-top: 100px;
    background-color: #3edbb7;
    color: white;
    text-align: center;
    height: 500px;
}
#headersection {
    background-color: #2f2a2a;
    height: 100px;
    width: 100%;
    position: fixed;
}
#headersection h3 {
    float: left;
    color: white;
    font-size: 20px;
}
#headersection a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}

footer h1 {
    text-align: center;
    color: black;
}

.form-wrapper h1 {
    margin-left: 10px;
}

.form-wrapper label, input {
    display: block;
}
.form-wrapper {
    width: 30%;
    margin: auto;
}

.login-inputs {
    border: none;
}
.login-inputs label {
    text-align: left;
    padding-top: 20px;
    font-weight: bold;
}
.login-inputs input {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #3edbb7;
    width: 100%;
    height: 30px;
}

::-webkit-input-placeholder {
    color: white;
}
.butoane {
    border: none;
    text-align: right;
}
