.clearfix {
    overflow: auto;
    zoom: 1;
}
nav {
    float: right;
}
li {
    display: inline;
}
#headersection {
    background-color: #2f2a2a;
    height: 100px;
    width: 100%;
    position: fixed;
}
#headersection h3 {
    float: left;
    color: white;
    font-size: 20px;
}
#headersection a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}
.header {
    width: 70%;
    margin: auto;
}
#formsection {
    padding-top: 100px;
    background-color: #3edbb7;
    color: white;
    text-align: center;
    height: 500px;
}
footer h1 {
    text-align: center;
    color: black;
}
.form-wrapper h1 {
    margin-left: 10px;
}
.form-wrapper label, input {
    display: block;
}
.form-wrapper {
    width: 30%;
    margin: auto;
}
.login-inputs {
    border: none;
}
.login-inputs label {
    text-align: left;
    padding-top: 20px;
    font-weight: bold;
}
.login-inputs input {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #3edbb7;
    width: 100%;
    height: 30px;
}
::-webkit-input-placeholder {
    color: white;
}
.butonLogin a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}
.butonLogin {
    padding-top: 20px;
    display: inline-block;
    width: 80px;
    height: 10px;
}
.butonCheck {
    display: inline-block;
}
.butonCheck label, input {
    display: inline-block;
}
.butoane {
    border: none;
    text-align: right;
}