.header {
    width: 70%;
    margin: auto;
}
#butonR {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    background: transparent;
}
.butonRegister {
    padding-top: 20px;
    display: inline-block;
    width: 100px;
    height: 10px;
}
