#butonL {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    background: transparent;
}
.butonLogin {
    padding-top: 20px;
    display: inline-block;
    width: 80px;
    height: 10px;
}
.butonCheck {
    display: inline-block;
}
.butonCheck label, input {
    display: inline-block;
}
.register h1{
    display: inline-block;
    font-size: 15px;
}
.register a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    font-size: 15px;
}
.register label {
    display: inline-block;
}
.registration {
    border: none;
    text-align: right;
}
