.shop-navbar a {
    color: black;
    font-weight: bold;
}
.right-side {
    color: black;
    text-align: left;
}
.right-side h1 {
    font-weight: bold;
}
.right-side h6 {
    line-height: 20px;
}
.butoane {
    display: inline-block;
}
.butoane input {
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 0;
    color: black;
}
.butoane .button1 {
    background-color: #FF2800;
    width: 40px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px 0px 0px 5px;
    display: inline-block;
    color: white;
}
.butoane .button2 {
    background-color: #FF2800;
    width: 40px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    color: white;
}
.number-display {
    width: 40px;
    height: 30px;
}
.buton-cart {
    margin-left: 120px;
}
.pills a {
    color: #FF2800;
    background-color: #B3C0D2;
}
.nav .active {
    border-top: 2px solid #FF2800;
    border-radius: 5px;
}
.pills {
    margin-top: 30px;
    position: relative;
}

.tabel {
    padding: 10px;
    background-color: #FF2800;
    text-align: left;
    color: white;
}
table tr, td {
    border: 1px solid white;
}
table td {
    font-weight: bold;
    height: 40px;
}
.tab-content {
  margin-top: 10px;
    -webkit-box-shadow: 0px 7px 0px 1px rgba(219, 212, 219, 1);
    -moz-box-shadow: 0px 7px 0px 1px rgba(219, 212, 219, 1);
    box-shadow: 0px 7px 0px 1px rgba(219, 212, 219, 1);
}
footer{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 40px;
}
.tab-pane p{
  padding-left:10px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: justify;
  padding-right: 10px;
}
